<h3><%= l(:label_recent_status_changes) %></h3>

<%

    from = Issue.sanitize((Time.now - 1.day).to_s(:db))
    # Get the top visible projects by issue count
    sql = " select is1.name as old_status_name, is2.name as new_status_name, count(*) as changes_count"
    sql << " from journals as j"
    sql << " left join journal_details as jd on j.id = jd.journal_id"
    sql << " left join issue_statuses as is1 on jd.old_value::int = is1.id"
    sql << " left join issue_statuses as is2 on jd.value::int = is2.id"
    sql << " where journalized_type = 'issue' and prop_key = 'status_id' and #{from} <= created_on"
    sql << " group by old_value, value, is1.name, is2.name"
    sql << " order by is1.name, is2.name"
    status_changes = ActiveRecord::Base.connection.select_all(sql)
%>

<table class="list">        
    <thead>
        <tr>
            <th><%=l(:label_issue_status_old)%></th>
            <th><%=l(:label_issue_status_new)%></th>
            <th><%=l(:label_issue_plural)%></th>
        </tr>
    </thead>
    <tbody>
        <% status_changes.each do |change| %>
            <tr class="<%= cycle('odd', 'even') %>">
                <td><%= change["old_status_name"] %></td>
                <td><%= change["new_status_name"] %></td>
                <td><%= change["changes_count"] %></td>
            </tr>
        <% end %>
    </tbody>
</table>
