<h3><%= l(:label_recent_status_changes) %></h3>

<%

  from = Issue.sanitize((Time.now - 1.day).to_s(:db))
  sql = <<-SQL
    SELECT is_b.name as old_status_name, is_a.name as new_status_name, count(*) as changes_count
    FROM journals as j
    LEFT JOIN journal_details as jd on j.id = jd.journal_id
    LEFT JOIN issue_statuses as is_b on jd.old_value::int = is_b.id
    LEFT JOIN issue_statuses as is_a on jd.value::int     = is_a.id
    WHERE j.journalized_type = 'Issue' AND prop_key = 'status_id' AND #{from} <= created_on
    GROUP BY old_value, value, is_a.name, is_b.name
  SQL
  
  status_changes = ActiveRecord::Base.connection.select_all(sql)
%>

<table class="list">        
    <thead>
        <tr>
            <th><%=l(:label_issue_status_old)%></th>
            <th><%=l(:label_issue_status_new)%></th>
            <th><%=l(:label_issue_plural)%></th>
        </tr>
    </thead>
    <tbody>
        <% status_changes.each do |change| %>
            <tr class="<%= cycle('odd', 'even') %>">
                <td><%= change["old_status_name"] %></td>
                <td><%= change["new_status_name"] %></td>
                <td><%= change["changes_count"] %></td>
            </tr>
        <% end %>
    </tbody>
</table>
