<h3><%= l(:label_user_query_plural) %></h3>

<table class="list queries">		
  <thead>
    <tr>
      <th><%=l(:label_user)%></th>
      <th style="text-align: center; width: 25px"><%=l(:label_open_issues_plural)%></th>
      <th style="text-align: center; width: 25px"><%=l(:label_closed_issues_plural)%></th>
    </tr>
  </thead>
  <tbody>
    <% 
    users = 
      User.find(:all, :conditions => {:status => 1}, :order => "firstname ASC").
      sort_by{|u| v = u.custom_value_for(2); v = v ? v.value.to_i : 2;   [v, u.first_name] }
    
    users.each do |user|
      issue_count = Issue.count(:conditions => {:assigned_to_id => user.id}, :include => [:status], :group => "#{IssueStatus.table_name}.is_closed").to_hash
    %>
      <tr class="<%= cycle('odd', 'even') %> <%= 'empty' if issue_count == 0 %>">
        <td class="query"><%= link_to(user.to_s, :controller => 'issues', :action => 'index', :set_filter => 1, "assigned_to_id" => user.id, 'sort' => 'status:asc,priority:desc,created_on:desc' ) %></td>
        <td style="text-align: center;" class="count"><%= issue_count["f"] || "-" %></td>
        <td style="text-align: center;" class="count"><%= issue_count["t"] || "-" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'my_widgets', :plugin => 'redmine_my_widgets' %>
<% end %>
